<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Create task</h1>
    <hr>
    <form method="post" th:action="@{/project/create-task}" th:object="${task}">
        <input th:field="*{projectId}" type="hidden">
        <input th:field="*{members}" type="hidden">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label pt-0" for="description">Description:&nbsp;</label>
            <div class="col-sm-10">
                <input class="form-control" id="description" th:field="*{description}" type="text">
                <p style="color: red;" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">
                    description error
                </p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label pt-0" for="assignee">Assign to:&nbsp;</label>
            <div class="col-sm-10">
                <select class="form-control" id="assignee" th:field="*{assignee}">
                    <option th:each="usr : ${task.members}" th:text="${usr}" th:value="${usr}"/>
                </select>
                <p style="color: red;" th:errors="*{assignee}" th:if="${#fields.hasErrors('assignee')}">
                    assignee error
                </p>
            </div>
        </div>
        <input class="btn btn-success" type="submit">
    </form>
</body>
</html>
