<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project dashboard</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Project dashboard</h1>
    <hr>
    <h3>General info</h3>
    <hr>
    <p>
        <strong>Project ID:&nbsp;</strong>
        <span th:text="${proj.id}"/>
    </p>
    <p>
        <strong> Project name:&nbsp;</strong>
        <span th:text="${proj.name}"/>
    </p>
    <p>
        <strong>Project owner:&nbsp;</strong>
        <span th:text="${proj.owner}"/>
    </p>
    <strong>Members:</strong>
    <ul th:each="usr : ${proj.members}">
        <li th:text="${usr}"/>
    </ul>
    <strong>Unfinished tasks:</strong>
    <ul th:each="task : ${proj.tasks}">
        <li th:unless="${task.done}">
            <span th:text="${task.taskId}"/>
            <a th:href="@{/user/task(task_id=${task.taskId})}" th:text="Show"/>
            <span sec:authorize="hasRole('ROLE_OWNER')">
                <a th:href="@{/project/edit-task(task_id=${task.taskId})}" th:text="Edit"/>
            </span>
        </li>
    </ul>
    <nav>
        <a class="btn btn-success" th:href="@{/user}">My homepage</a>
        <div sec:authorize="hasRole('ROLE_OWNER')" style="display: inline-block;">
            <a class="btn btn-primary" th:href="@{/project/edit(project_id=${proj.id})}">Edit this project</a>
            <a class="btn btn-primary" th:href="@{/project/add-task(project_id=${proj.id})}">Add new task</a>
        </div>
    </nav>
</body>
</html>