<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update project</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Update project</h1>
    <hr>
    <form method="post" th:action="@{/project/update}" th:object="${projectUpdate}">
        <input class="form-control" th:field="*{id}" th:value="*{id}" type="hidden">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="name">Name:</label>
            <div class="col-sm-10">
                <input class="form-control" id="name" th:field="*{name}" th:value="*{name}" type="text">
                <p style="color: red;" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">name error</p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="new-user">New user:</label>
            <div class="col-sm-10">
                <input class="form-control" id="new-user" th:field="*{newUser}" th:value="*{newUser}" type="text">
                <p style="color: red;" th:errors="*{newUser}" th:if="${#fields.hasErrors('newUser')}">
                    new user error
                </p>
            </div>
        </div>
        <input type="submit">
    </form>
</body>
</html>
