<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Task</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Update Task</h1>
    <hr>
    <form method="post" th:action="@{/project/update-task}" th:object="${form}">
        <input th:field="*{taskId}" th:value="*{taskId}" type="hidden">

        <label for="description">Task description:&nbsp;</label>
        <input id="description" th:field="*{taskDescription}" th:value="*{taskDescription}" type="text">
        <br>

        <label for="assignee">Assign new member:&nbsp;</label>
        <select id="assignee" th:field="*{newAssignee}">
            <option th:each="usr : ${members}" th:text="${usr}" th:value="${usr}"/>
        </select>
        <br>

        <input type="submit">
    </form>
</body>
</html>
