<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Admin site</h1>
    <hr>
    <ul>
        <!--        <li><a th:href="@{/admin/add-privilege}">Add privilege</a></li>-->
        <li><a th:href="@{/admin/add-project}">Add project</a></li>
        <!--        <li><a th:href="@{/admin/update-project}">Update project</a></li>-->
        <!--        <li><a th:href="@{/admin/delete-project}">Delete project</a></li>-->
        <!--        <li><a th:href="@{/admin/add-project}">Add user</a></li>-->
        <!--        <li><a th:href="@{/admin/update-user}">Update user</a></li>-->
        <!--        <li><a th:href="@{/admin/delete-user}">Delete user</a></li>-->
    </ul>
</body>
</html>