<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task view</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Search task</h1>
    <hr>
    <form method="get" style="margin-bottom: 40px;" th:action="@{/search/task}" th:object="${form}">
        <fieldset class="row mb-3">
            <legend class="col-sm-2 col-form-label pt-0">Status:&nbsp;</legend>
            <div class="col-sm-10">
                <div class="form-check" th:each="s : ${statuses}">
                    <input class="form-check-input" th:field="*{status}" th:value="${s}" type="radio"/>
                    <label class="form-check-label" th:for="${#ids.prev('status')}" th:text="${s}"/>
                </div>
            </div>
        </fieldset>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="user">User:&nbsp;</label>
            <div class="col-sm-10">
                <input class="form-control" id="user" th:field="*{user}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="keyword">Keyword:&nbsp;</label>
            <div class="col-sm-10">
                <input class="form-control" id="keyword" th:field="*{keyword}" type="text">
            </div>
        </div>
        <input class="btn btn-success" type="submit">
    </form>
    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th>Task ID</th>
                <th>Project ID</th>
                <th>Finished</th>
                <th>Assigned to</th>
                <th>Navigate</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="res : ${results}">
                <td th:text="${res.taskId()}"/>
                <td th:text="${res.projectId()}"/>
                <td th:text="${res.done()}"/>
                <td th:text="${res.assignee()}"/>
                <td><a th:href="@{/user/task(task_id=${res.taskId()})}">View</a></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" style="margin-top: 20px;" th:href="@{/user}">Back to home</a>
</body>
</html>