<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Signup</h1>
    <form method="post" th:action="@{/register}" th:object="${form}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" type="text">
        <p style="color: red;" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">username error</p>
        <br>
        <label for="password">Password</label>
        <input id="password" th:field="*{password}" type="password">
        <p style="color: red;" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">password error</p>
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>