<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task view</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>Task view</h1>
    <hr>
    <h3>Information:</h3>
    <ul>
        <li>
            <strong>Task ID:&nbsp;</strong>
            <span th:text="${task.taskId()}"/>
        </li>
        <li>
            <strong>Description:&nbsp;</strong>
            <span th:text="${task.description()}"/>
        </li>
        <li>
            <strong>Is done:&nbsp;</strong>
            <span th:text="${task.done()}"/>
        </li>
        <li>
            <strong>Assignee:&nbsp;</strong>
            <span th:text="${task.assignee()}"/>
        </li>
    </ul>
    <table class="table table-striped" th:if="${task.comments().size()} gt '0'">
        <thead>
            <tr class="table-light">
                <th>Comment</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c: ${task.comments()}">
                <td th:text="${c.comment}"/>
                <td th:text="${c.time}"/>
            </tr>
        </tbody>
    </table>

    <form method="get" th:action="@{/user/task/close}" th:if="${!task.done()} and ${accessLevel} == '2'">
        <input name="task_id" th:value="${task.taskId()}" type="hidden">
        <input class="btn btn-danger" type="submit" value="Close this task">
    </form>
    <form method="post"
          style="margin-top: 20px;"
          th:action="@{/user/task/add-comment}"
          th:if="${!task.done()} and ${accessLevel} == '2'"
          th:object="${taskComment}"
    >
        <input th:field="*{taskId}" th:value="*{taskId}" type="hidden">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="comment">Add a comment</label>
            <div class="col-sm-10">
                <input class="form-control" id="comment" th:field="*{comment}">
                <p style="color: red;" th:errors="*{comment}" th:if="${#fields.hasErrors('comment')}">
                    comment error
                </p>
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Add comment">
    </form>
    <a class="btn btn-success" th:href="@{/user}">Homepage</a>
</body>
</html>
