<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>You logged in</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          rel="stylesheet"
    >
    <link rel="stylesheet" th:href="@{/style/main.css}">
</head>
<body>
    <h1>You logged in</h1>
    <hr>
    <p>
        <strong>Username:&nbsp;</strong>
        <span th:text="${user.username()}"/>
    </p>
    <p>
        <strong>Password:&nbsp;</strong>
        <span th:text="${user.password()}"/>
    </p>
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Project name</th>
                <th>Is owner</th>
                <th>Dashboard</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="proj : ${user.projects()}">
                <td th:text="${proj.projectId()}"/>
                <td th:text="${proj.projectName()}"/>
                <td th:text="${proj.isOwner()}"/>
                <td><a th:href="@{/project(project_id=${proj.projectId()})}">Go to</a></td>
            </tr>
        </tbody>
    </table>
    <strong>Assigned tasks:</strong>
    <ul th:each="task : ${user.tasks()}">
        <li><a th:href="@{/user/task(task_id=${task.taskId()})}" th:text="${task.taskId()}"/></li>
    </ul>
    <a class="btn btn-primary" th:href="@{/search/task}">Discover all tasks</a>
    <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
</body>
</html>